@-moz-document domain("haskell.org") {
/* Userstyle for https://www.haskell.org/. Created by: 2E0PGS */
/* Repository: https://bitbucket.org/2E0PGS/userstyles/overview */
/* Licence: GNU v3 */
/* Userstyle URL: todo /*
/* Version 1.0 28/09/2016 06:51*/

body {
	color: #9554ca;
	background-color: #272727;
}

pre {
	color: #fff;
}

a {
	color: #8361e4;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color: #8754bf
}

.navbar-default .navbar-nav>li>a {
	color: #9a9a9a;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #ffffff
}

/* ---Video Thumbs--- */
.thumbnail .caption {
	color: #fff;
}

.thumbnail {
	background-color: #484848;
	border: 1px solid #9554ca;
}
}