@-moz-document domain("www.reed.co.uk") {
/* Userstyle for Reed.co.uk. Created by: 2E0PGS */
/* Repository: https://bitbucket.org/2E0PGS/userstyles/overview */
/* Licence: GNU v3 */
/* Userstyle URL: todo /*
/* Version 1.0 26/03/2017 16:33*/

#content, #container, .search-results .results-container, .job-result:hover, #main-search, .search-results-header, .search-results .results, .refine-search .facet-box, .refine-search .form-field, .bottom-controls, .bottom-controls .pages, .job, .job-header, .metadata, .jobs-content, .signed-in-prompt, .box, .section, .shortlisted-jobs, .saved-searches {
	background: #1d1d1d;
}

body, #content, .refine-search h4, label, .pagination-back, .pagination-back:hover, .pagination-next, .pagination-next:hover, .pagination-previous, .pagination-previous:hover, .contact-details .location, .contact-details .phone, .contact-details .email {
	color: #fff;
}

/* ---Links--- */
.metadata .location a, .metadata-mobile .location a, .breadcrumbs a {
	color: #bdbdbd;
}

.custom-select select {
	background: #1d1d1d !important;
	color: white !important;
}

.tag, .tag a {
	background: #005a9f;
	color: #fff !important;
}

/* ---Page Numbers--- */
.bottom-controls .page.selected {
	color: #fff;
	background: #005a9f!important;
}

.bottom-controls .page {
	color: #fff;
}

/* ---Input Boxes--- */
input[type=date], input[type=email], input[type=password], input[type=search], input[type=tel], input[type=text] {
	border: 1px solid #ffffff;
	background-color: #1d1d1d;
	color: white;
}

.tt-dropdown-menu .tt-suggestion, .tt-menu .tt-suggestion {
	background-color: #1d1d1d;
	color: white;
}

/* ---Profile Complete Meter--- */
.completed-o-meter .percentage-large {
	color: #fff;
}

/* ---Similar Jobs--- */
.courses .link-block-header h4, .similar-jobs .link-block-header h4 {
	background: #1d1d1d;
	color: #fff;
}

.link-block, .li:hover {
	background: #1d1d1d;
	color: #fff;
}

.courses .link-block li .link-block-item-extra-field, .similar-jobs .link-block li .link-block-item-extra-field {
	color: #e2e2e2;
}

/* ---Account Side Menu--- */
.account-side-menu li.active {
	background: #005a9f;
}

.account-side-menu li.active a {
	color: #fff;
}

/* ---Required Skills--- */
.lozenge {
	background: #005a9f;
}
}