@-moz-document domain("thehackernews.com") {
/* Userstyle for Thehackernews.com. Created by: 2E0PGS */
/* Repository: https://bitbucket.org/2E0PGS/userstyles/overview */
/* Licence: GNU v3 */
/* Userstyle URL: todo /*
/* Version 1.0 05/10/2016 21:15*/

body {
	background-color: #3c5a98;
}

html, body, h1, h2, h3, h4, h5, h6, p, blockquote, .PopularPosts .item-title h3 {
	color: white;
}

/* ---Wrapping outer background--- */
#outer-wrapper, .sidebar .widget {
	background: #1f1f1f;
}

/* ---Remove White bar at top seperating logo and content--- */
.head-head {
	background: #1f1f1f;
	border-bottom: 1px solid #3c5a98;
	border-top: 1px solid #3c5a98;
}

/* ---Quote Blocks--- */
.post-body blockquote {
	background: #333232;
	border: 0px solid #eee;
	border-bottom: 0px solid #eee;
}

/* ---Post Titles--- */
.title_sub, .posttitle {
	color: #416190;
}

/* ---Right Sidebar Popular Posts--- */
.sidebar ul li {
	color: white;
	background: #1f1f1f;
	
}

.sidebar ul li:hover {
	background: #3d5a99;
}
}